<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RunWhenStart" value="true" />
		<add key="HideApp" value="true" />
		<add key="TCPPort" value="1125" />
		<add key="COMPort" value="COM4" />
		<add key="BaudRate" value="9600" />
		<add key="DataBit" value="8" />
		<add key="Parity" value="None" />
		<add key="StopBits" value="1" />
	</appSettings>
</configuration>