<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RunWhenStart" value="true" />
		<add key="HideApp" value="true" />
		<add key="TCPPort" value="1123" />
		<add key="COMPort" value="COM99" />
		<add key="BaudRate" value="19200" />
		<add key="DataBit" value="8" />
		<add key="Parity" value="Even" />
		<add key="StopBits" value="1" />
	</appSettings>
</configuration>